<h1>Budget</h1>

<h2>Monthly</h2>
<%= render "items_list", :table_id => "monthly", :items_collection => BudgetItem.monthly %>

<h2>Yearly</h2>
<%= render "items_list", :table_id => "yearly", :items_collection => BudgetItem.yearly %>